@import '~@schibstedspain/sui-theme/lib/index';
@import '~perixo20-react-movie-search-box/lib/index.scss';
@import '~perixo20-react-movie-search-list/lib/index.scss';

$bg-movie-search: $c-accent-light !default;

.mv-MovieSearch {
  font-family: $ff-sans-serif;
  background-color: $bg-movie-search;
  padding: $p-xl;

}